#image{
    margin-top: 10px;
    
    width: 60px;;
    padding: 20px;
    font-weight: 400;
    padding-bottom: 0px;
    height: 40px;
    user-select: none;
    text-decoration:line-through;
    font-style: italic;
    font-size: x-large;
   
    margin-left: 10px;
    
}
#user-input{
  
    width:auto;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 0px;
    height: 40px;
    border: red 0px solid;
}
input{
    border:1px black solid;
}
.inline{
    display:inline-block;
}
#btn{
   
    color: rgb(255, 255, 255);
    margin: 20px;
    background-color: rgb(31, 29, 56);
}
